<h1>products</h1>
<h1>Status: {{isOnline ? 'Online' : 'Offline'}}</h1>
<button (click)="sendNotification()">Send Notification</button>
<button (click)="requestPermission()">Request Permission</button>
@if (products) {
  @for (product of products; track product.id) {
    <div class="product-card">
      <div class="product-thumbnail">
        <img src="{{ product.thumbnail }}" alt="{{ product.title }}">
      </div>
      <div class="product-details">
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <div class="product-info">
          <div class="price">
            <span class="original-price">$ {{ product.price }}</span>
            <span class="discount-percentage">{{ product.discountPercentage }}% OFF</span>
          </div>
          <div class="rating">
            <span class="star">&#9733;</span> {{ product.rating }}
          </div>
        </div>
        <div class="stock">
          <span>{{ product.stock }}</span> in stock
        </div>
      </div>
    </div>
  }
}
